/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

&led_strip {
    // chain-length = <0>;

    chain-length = <6>;

    // 21 backlight + 6 glowlight
};

/ {
    combos {
        compatible = "zmk,combos";

        command_tilde {
            bindings = <&kp LG(GRAVE)>;
            key-positions = <12 36>;
        };

        toast {
            bindings = <&jd>;
            key-positions = <37 40 11>;
        };

        pinc {
            bindings = <&jd_pinc>;
            key-positions = <37 40 23>;
        };

        screenshot {
            bindings = <&kp LG(LS(NUMBER_4))>;
            key-positions = <37 40 0>;
        };

        thirdlayer {
            bindings = <&mo 3>;
            key-positions = <37 40>;
        };

        bootloader {
            bindings = <&bootloader>;
            key-positions = <0 11>;
        };

        undo {
            bindings = <&kp LG(Z)>;
            key-positions = <38 39>;
        };
    };

    macros {
        jd: jd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp J &kp D &kp AT &kp T &kp O &kp A &kp S &kp T &kp DOT &kp C &kp O &kp DOT &kp N &kp Z>;
            label = "JD";
        };

        jd_pinc: jd_pinc {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none &kp J &kp D &kp AT &kp P &kp I &kp N &kp C &kp DOT &kp N &kp Z>;
            label = "JD_PINC";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | ENT |   | SPC | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q  &kp W  &kp E     &kp R  &kp T      &kp Y      &kp U  &kp I      &kp O    &kp P     &kp BSPC
&kp LCTRL  &kp A  &kp S  &kp D     &kp F  &kp G      &kp H      &kp J  &kp K      &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C     &kp V  &kp B      &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &kp ESC
                         &kp LGUI  &mo 1  &kp RET    &kp SPACE  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | RET |   | SPACE |     | ALT |

            bindings = <
&kp TAB     &kp N1           &kp N2           &kp N3           &kp N4           &kp N5             &kp N6     &kp N7        &kp N8        &kp N9        &kp N0   &kp LA(BSPC)
&bt BT_CLR  &bt BT_SEL 0     &bt BT_SEL 1     &rgb_ug RGB_SAD  &rgb_ug RGB_BRI  &rgb_ug RGB_SAI    &kp MINUS  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans   &trans
&kp LSHFT   &rgb_ug RGB_EFR  &rgb_ug RGB_EFF  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_HUI    &kp EQUAL  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp DOT  &trans
                                              &kp LGUI         &trans           &kp RET            &kp SPACE  &kp NUMBER_0  &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | RET |   | SPACE |     | ALT |

            bindings = <
&kp TAB    &kp EXCL  &kp AT          &kp HASH      &kp DLLR       &kp PRCNT    &trans     &kp LA(LEFT)              &kp UP_ARROW                  &kp LA(RIGHT)              &kp PLUS   &kp LA(BSPC)
&kp LCTRL  &kp AMPS  &kp UNDERSCORE  &kp ASTERISK  &kp BACKSLASH  &trans       &trans     &kp LEFT_ARROW            &kp DOWN                      &kp RIGHT                  &kp MINUS  &kp GRAVE
&kp LSHFT  &trans    &trans          &trans        &trans         &trans       &trans     &kp LS(LG(LA(LC(LEFT))))  &kp LS(LA(LC(LG(UP_ARROW))))  &kp LA(LC(LG(LS(RIGHT))))  &kp EQUAL  &kp TILDE
                                     &kp LGUI      &trans         &kp RET      &kp SPACE  &trans                    &kp RALT
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &kp LEFT_PARENTHESIS    &kp RIGHT_PARENTHESIS  &trans          &kp C_VOLUME_UP    &trans      &trans  &kp C_VOLUME_UP
&trans  &trans  &trans  &trans  &trans  &kp LEFT_BRACE          &kp RIGHT_BRACE        &kp C_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_NEXT  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &kp LEFT_BRACKET        &kp RIGHT_BRACKET      &trans          &kp K_MUTE         &trans      &trans  &trans
                        &trans  &trans  &trans                  &trans                 &trans          &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
